jupyterlab

pyarrow
pandas

numpy

imblearn
xgboost
lightgbm 
yellowbrick

matplotlib
seaborn
scipy
scikit-learn
wget
konlpy
pymongo
python-mecab-ko
pyLDAvis
fastapi
uvicorn
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
