{% extends "main_enter_template.html"%}

{% block title %}
메인
{% endblock %}

{% block main_container %}
<main class="container">
<h2>매물정보</h2>
<form>
    <div>
        <h3>주소</h3>
        <div class = "row">
            <div class = "col-12">
                <input type="text" class="form-control" placeholder="건물주소 또는 건물명을 검색하세요." id="" name="address">
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-6">
                <input type="text" class="form-control" placeholder="동 입력" id="" name="dong_address">
            </div>
            <div class = "col-6">
                <input type="text" class="form-control" placeholder="호 입력" id="" name="ho_address">
            </div>
        </div>
        <div class = "row">
            <div class = "col-6 form-check">
                <label class="form-check-label">동 구별 없음</label>
                <input class="form-check-input" type="radio" name="dong_address">
            </div>
            <div class = "col-6 form-check">
                <label class="form-check-label">호실 구별 없음</label>
                <input class="form-check-input" type="radio" name="ho_address">
            </div>
        </div>
        <hr>
        <h3>가격</h3>
        <div class="">
            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
            <label class="btn btn-primary" for="option1">월세</label>
            <button class="btn btn-primary">전세</button>
            <button class="btn btn-primary">매매</button>
        </div>
        <div class="row">
            <!-- <div class = "col-6">
                <input type="text" class="form-control" name="">
            </div> -->
            <div class = "col-6">
                <input type="text" class="form-control" placeholder="관리비" id="" name="price">
            </div>
        </div>
        <div class = "col-6 form-check">
            <label class="form-check-label">관리비 없음</label>
            <input class="form-check-input" type="radio">
        </div>
        <hr>
        <h3>집주인 이신가요?</h3>
        <div class="">
            <button class="btn btn-primary">집주인</button>
            <button class="btn btn-primary">관리인</button>
            <button class="btn btn-primary">공인중개사</button>
        </div>
        <hr>
        <h3>상세정보</h3>
        <!-- 방 갯수, 화장실 갯수, 전체 층, 해당층, 공급면적, 전용면적, 상세설명 -->
        <div class="">
        
            
        </div>
        <button class="btn btn-outline-primary" type="submit" formaction="/enter" formmethod="post">완료</button>
    </div>
</form>

{% endblock %}

